<html layout:decorate="~{usr/common/layout}">
<!--layout.html파일 지정-->
    <head>
        <title th:text="로그인"></title>
<!--     th:text로 제목 지정   -->
    </head>

    <body>
        <main layout:fragment="main">
    <!--   main으로 감         -->
            마이페이지
            <div>번호 : <span th:text="${@rq.member.id}"></span></div>
            <div>이름 :<span th:text="${@rq.member.username}"></span></div>
            <div>별명 : <span th:text="${@rq.member.nickname}"></span></div>
        </main>
    </body>
</html>